extends internal
block content
  :markdown

    # About Pasco Citizens for Better Schools

    We are a group of citizens that believes that Education is the best investment our community can make.

    Pasco Citizens for Better Schools has worked to pass the necessary construction bonds that have built new schools, remodel older ones, and repurposed buildings in the Pasco School District. 

    Bond issues must pass with a 60% YES margin.

    Currently we are campaigning for the 2013 Bond Election on the Feb. 12th, 2013 ballot.

    Pasco Cares for Kids - Vote YES!