extends internal
block content
  :markdown

    # Current bond information

    ## What we have here
    Current Bond info: (where it says x,y,z maybe write something like (learn more about what will be on your ballot February 12, 2013.   Please add a link to the PSD website with lots of good info on the bond.  

    http://www.psd1.org/domain/85 

    Add information from the fact sheet I am emailing you and the power point presentation.  Not sure the best way to do this, frankly.

    []()