include includes/head

body#in
  .outer
    include includes/nav
    #main
      section
        h1 Current bond information
        :markdown

          ## Overview
          Pasco School District’s Board of Directors voted unanimously to place a bond initiative on the February 12, 2013 ballot.

          - The debt amount of the proposed bond is $46.8 million.
          - The estimated rate for taxpayers is .34 cents per $1,000 of assessed value, or $34 per year for a $100,000 property.
          - The district qualifies for an estimated $38.1 million in State matching dollars, if voters approve the election.
 
          Major projects will be the construction of three large elementary schools.

          Smaller projects would be prioritized based on need and funds available and could include the relocation of New Horizons High School, site improvements to Stevens Middle School, land purchases for future elementary, middle and high school sites, Twain pick up and drop off improvements and upgrades to mechanical systems at  older schools.

          ## A video overview of the bond

        iframe(style="margin-bottom: 20px;", src="http://www.youtube.com/embed/VDGm9flROio", frameborder="0", allowfullscreen)

        :markdown

          ## More information

          There is a thorough collection of information at [Pasco School District's Bond information page](http://www.psd1.org/domain/85).

          Additionally, here's a [presentation file](/files/2013-Bond-Election.pdf) walking through the details of the new bond.

          Please contact us at [pascocaresforkids@gmail.com]](mailto:pascocaresforkids@gmail.com) for more information.

      include includes/fb  
    include includes/more-info

include includes/fbscript    