extends internal
block content
  :markdown

    # Get involved

    ## Vote Yes!
    February 12, 2013 and remind your friends and family to do so as well.
    [Register to vote](https://wei.sos.wa.gov/county/franklin/en/Elections/register_to_vote/Pages/register_to_vote.aspx) if you haven't already.
   
    ## Spread the word!
    Like [our Facebook Page](http://www.facebook.com/pascokids) and tell your friends to do the same. Follow us on Twitter: [@PascoCaresforKids](https://twitter.com/PascoCaresforKids)

    ## Educate yourself
    Educate yourself on the facts regarding the bond on this site and at [Pasco School District's web page about the bond](http://www.psd1.org/domain/85)

    ## Write a letter to the editor
    Please [email us a copy of your letter](mailto:pascocaresforkids@gmail.com) to so that we can coordinate when letters are sent in to have the greatest impact.

    ## Help us with doorbelling
    Bringing doorhangers around to community members with information on the bond.

    ## Sign waving
    Wave signs with us at busy intersections reminding people of the importance of getting their ballots in with a yes vote.

    ## Join us!
    Join Pasco Citizens for Better Schools (group of local citizens) Committee who meet and organize support for upcoming bond and levy elections.

    ## Your own ideas
    Please email us at [pascocaresforkids@gmail.com](mailto:pascocaresforkids@gmail.com) and let us know how you would like to get involved.

    Watch our Facebook page for upcoming opportunities and dates for many of the activities listed above.