include includes/head
body#home
  .outer
    include includes/nav
    #intro
      div
        img.full(src="/images/pasco-kids.jpg", width="960", height="258")
        img.mobile(src="/images/pasco-kids-mobile.jpg")
        h1 It's a puzzle we <em>should</em> solve for them.
        section
          p Pasco schools have struggled mightily to keep up with our city&rsquo;s explosive growth.
          p The <strong>legendary dedication and ingenuity of our teachers, parents, and supporters</strong> has gotten us through tremendous challenges.
          p But without additional funds, there is <strong>no light at the end of this tunnel</strong>. New students mean more necessary expense, but state budget woes mean more cuts.
          p <strong>New bonds and levys</strong> will soon cement the quality of education we'll be able to provide over the coming years.
          p As a community, <strong>our priorities</strong> will decide whether we take a step forward or backward for our kids.
          p 
            b Let&rsquo;s take responsibility—<strong>for <em>their</em> future</strong>.
        include includes/fb  
    include includes/more-info

include includes/fbscript