extends internal
block content
  :markdown

    # Levy 101

    ## What is a bond? 
    A bond is very limited in how it can be used. Specifically, it can be used to buy land or to build or renovate school facilities. 

    These projects are understandably quite expensive and to fund them over the short term required by the other levy types would be cost prohibitive for the taxpayers. 

    Therefore, the school district asks for approval from the taxpayers to essentially take out a loan (by issuing bonds) which the taxpayers will pay back over the life of the loan (typically 30 years).

    ## Can bond money be used for classroom expenses? No! 
    Although tax payers can approve hundreds of millions of dollars to build and renovate schools, bond dollars must be used exclusively for those purposes. 

    (For example, the Issaquah School District was able to build Liberty High School in the 1970s after voters approved a bond but had to wait a year to open the schools until voters approved a Maintenance and Operations levy to fund salaries and classroom operations).