!!!5
head
  title Pasco Cares for Kids
  meta(description="Information about Pasco School District Bonds and Levies")
  meta(charset="utf-8")    
  link(rel="stylesheet", href="/css/reset.css")
  link(rel="stylesheet", href="/css/style.css")
  meta(name="viewport",content="width=device-width,initial-scale=1.0,maximum-scale=1.0")