.wrap
  #more
    h2 More information:
    a(href="current-info.html")
      h3 Current bond info
      p Read about the current bond and find out x, y, z.
    a(href="bond-101.html")
      h3 Bond 101
      p What's Bond 101? Why do we need to pass it?
    a(href="levy-101.html")
      h3 Levy 101
      p What's Levy 101? What will it accomplish?
    a(href="about-us.html")
      h3 About us
      p Who are <b>Pasco Citizens For Better Schools</b>?
    a(href="get-involved.html")
      h3 Get Involved
      p Find out how you can help and get involved.