header
  h1 Pasco Citizens for Better Schools
  nav
    a(href="/") Home
    a(href="/current-info.html") Current info
    a(href="get-involved.html") Get involved
    a(href="about-us.html") About us
    a(href="mailto:pascocaresforkids@gmail.com") Contact us